.page-footer {
  padding-top: 113px;
	padding-bottom: 25px;
  background-color: $bg-section;
}
ul { 
  list-style: none; 
}
.social__item {
  display: flex;
  justify-items: flex-end;
}
h6 {
    color: $light-color;
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    padding-left: 22px;
    padding-right: 66px;
}
h5 {
    color: $secondary-color;
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 39px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding-left: 20px;
}

.container {
    width: 100%;
    padding-left: 22px;
    padding-right: 66px;
    margin-left: auto;
    margin-right: auto;
    @include for-size(mobile) {
      width: 320px;
    }
    
  .social__link--bg {
    background-color: $bg-social-icons;
    border-radius: 50%;
  }
  .contacts {
    padding-left: 70px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 186%;
    text-align: right;
  }
  .contacts-telephone {
      color:#c7133e ;
  }