.page-footer {
  margin-top: 113px;
	padding-bottom: 25px;
  background-color: $bg-section;
}
ul { 
  list-style: none; 
}

h6 {
    color: $light-color;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    padding-left: 22px;
    padding-right: 66px;
    padding-bottom: 17px;
}
h5 {
    color: $secondary-color;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 39px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding-left: 20px;
}

.container {
    width: 100%;
    padding-left: 22px;;
    margin-left: auto;
    margin-right: auto;
    }
    .page-footer .icon {
      fill: #fff;
  }
  .footer-social {
    padding-top: 43px;
  }
  .item {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 46px;
  }

  .social__link--bg {
    background-color: $bg-social-icons;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .contacts {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 186%;
    text-align: right;
  }
  .contacts-telephone {
      color:#c7133e ;
  }